.App {
  text-align: center;
  background-image:url("https://hospital-bucket.s3.us-east-2.amazonaws.com/rainbow.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container{
  width: 800px;
  border: 2px solid black;
  padding: 30px;
  margin: 20px;
  background-color:white;
  z-index:1;
}

.title{
	z-index:2;
	background-image:url("https://hospital-bucket.s3.us-east-2.amazonaws.com/rainbow_watercolor.jpg");
	
}
.alert{
	color:red;
}
.default{
	color:black;
}
.about-container{
	width: 800px;
	background-color:white;
	color:black;
	padding: 30px;
	border: 2px solid black;
	
}
.search-container{
	width: 1000px;
	background-color:azure;
	color:black;
	padding: 30px;
	border: 2px solid black;
	
}
.large{
	width:800px;
	font-size:70px;
	background-color:white;
	padding:30px;
	color:black;
	border:2px solid black;
}
	
.rating-container{
  width: 800px;
  border: 2px solid black;
  padding: 30px;
  margin: 20px;
  background-color:white;
  z-index:1;
}